.left { grid-area: left; }
.right { grid-area: right; }

.container {
  display: grid;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.container > div {
  border: solid 2px #000000;
}

.main {
  margin-top: 3px;
  background: #f5f6f7;
}

.content {
  background-color: #fff;
  width: 876px;
  margin: 2px auto;
  padding: 2px;
  min-height: calc(100vh - 66px);
}
