.question-box {
    border: solid 3px #fff;
    padding: 20px;
    /* height: 400px; */
}

.verify-box {
    padding: 20px;
    width: 100%;
}

.verify-box button {
    margin-right: 15px;
}

.answer-address {
    margin-right: 20px;
    /* width: 50%; */
}

.btn {
    margin-right: 15px;
}
