.header-box {
    background: #fff;
    height: 64px;
    padding-inline: 4rem;
    color: rgba(0, 0, 0, 0.88);
    line-height: 64px;
    align-items: center;
    justify-content: space-between;
}


.header-left {
    flex-basis: 19rem;
}

.header-left > .tron-logo {
    width: 40px;
}

.header-left > .tron-logo:hover {
    cursor: pointer;
}

.header-center {
    align-items: center;
    margin: auto;
}

.header-center > .question-list {
    margin: 0 1rem;
}

.header-center > .question-list > button:hover {
    background-color: #fff;
}

.header-right {
    flex-basis: 19rem;
}

.header-right > .connect-wallet {
    display: flex;
    margin-left: auto;
}