.question-list-box {
  height: 400px;
  overflow: auto;
  padding: 0 16px;
  border: 1px solid rgba(140, 140, 140, 0.35);
}

.register-question-box {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

.register-question-box .input {
  margin-right: 20px;
  width: 85%;
}

.btn {
  margin-right: 15px;
}
