.question-box {
  border: solid 3px #fff;
  padding: 20px 20px 20px 50px;
  /* height: 400px; */
}

.question-box > .code-answer {
  margin-top: 1.5rem;
}

.question-box-spin {
  text-align: center;
  padding-top: 4rem;
}

.question-title-a {
  color: rgba(0, 0, 0, 0.88);
}

.question-title-a:hover {
  color: rgb(0 122 255);
}

.verify-box {
  padding: 20px;
  width: 100%;
}

.verify-box button {
  margin-right: 15px;
}

.verify-box .input {
  width: 85%;
}

.verify-box .form {
  margin-top: 15px;
}

.btn {
  margin-right: 15px;
}
